<script>
import Vue from 'vue'
import {Component, Props} from 'vue-property-decorator'

@Component({})
export default class App extends Vue {
  data() {
      return {}
  }
  handleScroll(){}
  closeBottom() {}
  clearBottom() {}
  mounted() {}
  destroyed () {}
  render(h) {
      return (
        <div>
            <nuxt/>
        </div>
      )
  }
}
</script>
<style>

</style>