<script>
import Vue from 'vue'
import {Component, Props} from 'vue-property-decorator'
// import {State,
//   Getter,
//   Action,
//   Mutation } from 'vuex-class'
// import axios from 'axios'

@Component({})
export default class App extends Vue {
  // @State foo
  // @Props({default: 'name', type: String}) PropName
  render(){
    return (
      <div>
        Hello World
      </div>
    )
 }
}
</script>

<style>

</style>
